<footer class="container-fluid" style="background-color: #F24957;">
    <div class="container">
        <div class="row pt-5 pb-5"> <div class="col-lg-5 col-md-6 mb-4">
                <span class="d-inline-block">
                    <img src="/imgs/logo-alternativa-3.png" alt="Logo Meu Dorama">
                </span>
                <p class="my-4 text-light pe-md-5">
                    Sua dose diária de emoção e entretenimento coreano. O MeuDorama é o espaço dedicado a todos os apaixonados por histórias inesquecíveis e pela magia das produções da Coreia do Sul.
                </p>

                <div class="d-flex gap-4">
                    <a href=""><img src="/imgs/icons/insta.png"></a>
                    <a href=""><img src="/imgs/icons/facebook.png"></a>
                    <a href=""><img src="/imgs/icons/twitter.png"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 text-light">
                <h4 class="fw-bold mb-4">CONTATO</h4>
                <ul class="list-unstyled">
                    <li class="mb-2">São Paulo, Brasil</li>
                    <li class="mb-2">meudorama@gmail.com</li>
                    <li class="mb-2">+55 11 99999-9999</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 mb-4 text-light">
                <h4 class="fw-bold mb-4">NEWSLETTER</h4>
                <p>Receba novidades por e-mail:</p>
                <form action="/subscribe" method="POST" class="input-group">
                    <input type="email" class="form-control border-0" placeholder="Seu e-mail" required style="height: 45px;">
                    <button class="btn btn-dark px-4" type="submit" style="background-color: #1a1a1a; border: none;">
                        OK
                    </button>
                </form>
            </div>

        </div>
    </div>
</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>