<footer class="container-fluid" style="background-color: #F24957;">
    <div class="container">
        <div class="row">
            <div class="col mb-5 mt-5">
                <span class="d-inline-block">
                    <img src="/imgs/logo-alternativa-3.png">
                </span>
                <p class="my-5 text-light">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum modi, possimus dolore saepe nobis itaque cupiditate veniam nostrum, provident quam, nequeab dicta velit debitis cum unde recusandae. Fuga, consectetur.
                </p>

                <span class="d-inline-block d-flex gap-4">
                    <a href=""><img src="/imgs/icons/insta.png"></a>
                    <a href=""><img src="/imgs/icons/facebook.png"></a>
                    <a href=""><img src="/imgs/icons/twitter.png"></a>
                </span>
            </div>
            <div class="col mt-5">
                <h4 class="text-light">
                    Menu
                </h4>
            </div>
        </div>
    </div>
</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>