<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meudorama - Catálogo de Doramas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <span class="logo">
            <img src="/imgs/logo-principal.png">
        </span>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Doramas</a>
            </li>
            <li>
                <a href="#">Atores</a>
            </li>
            <li>
                <a href="#">Notícias</a>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
        </ul>
    </header>
