<%- include ('partials/header.ejs')%>

<section class="banner">
    <div class="texto-banner">
        <h1>KDRAMA DO MOMENTO</h1>
        <p>Beijo Explosivo domina o topo e se torna um dos doramas mais assistidos</p>
        <button class="botao-banner" type="submit">Saiba Mais</button>
    </div>
    <div class="img-banner">
        <img src="/imgs/beijo-explosivo-sem-fundo.png">
    </div>
</section>