.navbar-nav .nav-link {
    color: #6D76A6;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Lexend';
}

.navbar-nav .nav-link:hover {
    color: #F24957;
}

.active {
    color: #F24957 !important;
}

.carousel-inner .carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Lexend';
}

.carousel-inner .carousel-caption p {
    font-size: 1.1rem;
    font-family: 'Tahoma';
}


.card-dorama {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: none; 
}


.card-dorama:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important; 
}


.card-dorama:hover .card-img-top {
    filter: brightness(1.1); 
}
#banner-meio .caption-jisoo {
    left: 5% !important;
    right: auto !important;
    bottom: 15% !important;
    max-width: 450px;
    text-align: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#banner-meio .caption-jisoo h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    font-family: 'Lexend';
}

#banner-meio .caption-jisoo p{
    line-height: 1.1;
    font-family: 'Tahoma';
}


@media (max-width: 768px) {
    #banner-meio .caption-jisoo {
        width: 80%;
        left: 5% !important;
        bottom: 10% !important;
    }
    #banner-meio .caption-jisoo h1 {
        font-size: 2rem;
    }
}

body {
    padding-top: 70px; 
}

.breadcrumb a {
    text-decoration: none;
    color:#F24957;
    font-weight: bold;
}

.active {
    color: #212529 !important;
}

.btn-red {
    background-color: #F24957 !important;
    color: #ffffff !important;
    transition: 0.5s !important;
}

.btn-red:hover {
    background-color: #F2C288 !important; 
    color:#212529 !important;
}

.btn-red-blue {
    background-color: #F24957 !important;
    color: #ffffff !important;
    transition: 0.5s !important;
}

.btn-red-blue:hover {
    background-color: #6D76A6 !important; 
    color:#ffffff !important;
}

/* Estilo geral das abas laterais */
.nav-pills .nav-link {
    color: #495057; /* Cor do texto quando não clicado */
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Cor quando você clica ou a aba está ativa (SEU CORAL) */
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
    background-color: #F24957 !important; /* Sua cor coral */
    color: white !important;
}

/* Remove aquela borda azul de "foco" que aparece ao clicar */
.nav-link:focus, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Efeito ao passar o mouse antes de clicar */
.nav-pills .nav-link:hover:not(.active) {
    background-color: #fff1f2; /* Um rosa bem clarinho */
    color: #F24957;
}

/* Estilo para borda tracejada na coleção */
.border-dashed {
    border: 2px dashed #dee2e6 !important;
}